$five: 0.5em;
$one: 1em;
$white: #fff;

.background {
    width: 100%;
    max-height: 75px;
    top: 0;
    padding: $one;
    position: absolute;
    background-color: rgb(192, 45, 26);
}

.Title {
    display: flex;
    margin-top: -$five;
    justify-content: center;
    color: $white;
}

.Title-Subtitle {
    margin-top: -$five;
    color: rgba(255, 255, 255, 0.75);
}

.nav-link {
    display: inline-block;
    padding: $five $one;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
}

.nav-link-active {
    color: $white;
    border-bottom: 2px solid;
}